<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Lit Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/products">All products <span class="sr-only">(current)</span></a></li>
              <li><a href="/products/random">Showing A Product</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort Products <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/products">All Products</a></li>
                  <li><a href="/products?price=asc">Sort price from the lowest to the highest</a></li>
                  <li><a href="/products?price=desc">Sort price form the highest to the lowest</a></li>
                  <li><a href="/products/filter=200">Discount Items</a></li>
                  <% Category.all.each do |category| %>
                    <li><a href="/products/?category=<%= category.name %>"><%= category.name.capitalize %></a></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                            <li><%= link_to "Logout", "/logout"%></li>
                            <li><%= link_to "Shoping Card", "/carted_products"%></li>
                          <% else %>
                            <li><%= link_to "Sign Up", "/signup" %></li>
                            <li><%= link_to "Login", "/login" %></li>
                          <% end %>
            </ul>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <% flash.each do |name, message| %>
        <div class="alert alert<%= name %> role="alert"><%= message %></div>
        
      <% end %>
      
        
      </div>
      <%= yield %>
                                                       
                                                       
                                                       </div>
  </body>
                                                       
 <footer>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright &copy; 2017, Gideon Ft Roger - Kigali,Rwanda</p>
    </div>
    </footer>
    
</html>
